/*************************************************
 *  Core
 **************************************************/


/*************************************************
 *  Navigation Bar
 **************************************************/

header {
    padding: 40px 0 0 0;
}

header h1 {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #476286;
    font-size: 30px;
}

nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

nav ul > li {
    background-color: white;
    float: none;
    font-size: 10pt;
    font-weight: 400;
}

article {
    margin: 0;
    padding: 20px;
}

/*************************************************
 *  Code
 **************************************************/

pre {
  background-color: #f7f7f7;
  padding: 10px;
}

code {
    background-color: #f7f7f7;
    padding: 10px;
    padding: .2em;
    
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/*************************************************
 *  Tags
 **************************************************/


.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tag {
  font-size: 10.5pt;
  background: #eee;
  border-radius: 10px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 27px;
  padding: 0 10px 0 10px;
  position: relative;
  margin: 2px;
  text-decoration: none;
  
  -webkit-transition: color 0.2s;
}

.tag:hover {
  background-color: #476286;
  text-decoration: none;
  color: white;
}

.tag:hover::after {
   border-left-color: #476286; 
}

/*************************************************
 *  Posts
 **************************************************/
 
 .post h2 {
     font-size: 24px;
 }
 
 .continue {
     float: right;
 }
 
 .post-group-item a {
     font-size: 10.5pt;
 }

 .post ol li {
  margin: 0;
 }

 .post ol li {
  color: #666666;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
  text-align: justify;
 }

 /*************************************************
 *  Table formatting
 **************************************************/
 
table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

/*************************************************
 *  Bio
 **************************************************/
 
 .footer_text {
    flex: auto;
    text-align: justify;
    padding: 10px;
    width: auto;
    max-width: 800px;
 }
 
.bio_pic {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    vertical-align: middle;
}


ul.social-icon {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.social-icon li {
  margin-right: 10px;
}

.social-icon li:last-of-type {
  margin-right: 0;
}

.social-icon li:hover {
  transform: scale(1.2)
}

.big-icon {
  font-size: 2rem;
}

@media screen and (max-width: 780px) {

    .footer_text {
        padding: 10px;
        width: auto;
    }

    article {
        margin: 0;
        padding: 20px;
    }

    header {
        padding: 41px 0 0 0;
    }

    header h1 {
        font-size: 30px;
    }

    nav ul {
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
    }

    nav ul > li {

        display: inline;

        border-bottom: white 1px solid;
    }

    nav ul:first-child {
        border-top: white 1px solid;
    }

    .post-group-item {
        width: 50%;
    }
}

@media screen and (max-width: 420px) {
    .footer_text {
        padding: 10px;
        width: auto;
    }
    
    article {
        margin: 0;
        padding: 20px;
    }

    header {
        padding: 0;
    }
    
    header h1 {
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav ul > li {
        background-color: #fafafa;
        display:list-item;
        float: none;
        margin: 0;
        padding: 10px;
        border-bottom: #f2f2f2 1px solid;
    }

    nav ul:first-child {
        border-top: #f2f2f2 1px solid;
    }

    .post-group-item {
        width: 100%;
    }
}
